<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card z-depth-4 hoverable">
      <div class="card-content center">
        <span class="card-title grey-text text-darken-2">Connexion Page</span>
        <p><em>{{message}}</em></p>
      </div>

      <!-- Login Form -->
      <form #loginForm="ngForm" class="padding-2">
        <div class="input-field">
          <input
            type="text"
            id="name"
            [(ngModel)]="name"
            name="name"
            required
            placeholder="Enter your name"
            class="validate"
            style="padding-left: 16px;"> <!-- Inline padding -->
          <div class="error-message" *ngIf="loginForm.controls['name']?.invalid && loginForm.controls['name']?.touched">
            Name is required
          </div>
        </div>

        <div class="input-field">
          <input
            type="password"
            id="password"
            [(ngModel)]="password"
            name="password"
            required
            placeholder="Enter your password"
            class="validate"
            style="padding-left: 16px;"> <!-- Inline padding -->
          <div class="error-message" *ngIf="loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched">
            Password is required
          </div>
        </div>
      </form>

      <!-- Login/Logout Actions -->
      <div class="card-action center">
        <a
          *ngIf="!auth.isLoggedIn"
          (click)="login()"
          class="waves-effect waves-light btn-large btn-block teal lighten-2">
          Se connecter
        </a>

        <a
          *ngIf="auth.isLoggedIn"
          (click)="logout()"
          class="waves-effect waves-light btn-large btn-block red lighten-2">
          Connect
        </a>
      </div>
    </div>
  </div>
</div>
